#top {
    background-color: #002B5B;
    color: white;
    height: 500px;
}

#hello {
background-color: #2B4865;
height: 400px;
}

#what-i-do{
    background-color: #256D85;
    height: 400px;
}

#i-can-help {
    background-color: #8FE3CF;
    height: 200px;
}